body {
	background-color: #808080;
	font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

.main-contents {
	margin:0 auto;
	background-color: white;
	height: 100%;
	width: 100%;
	min-height:300px;
}

/*------ログイン------*/
.login-form{
	text-align:center;
	margin:10px auto;
}

/*------ヘッダー------*/

.header {
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}

ul.navi {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #1b2538;
}
ul.navi li {
	float: left;
}
ul.navi li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: white;
}
ul.navi li a:hover:not(.active) {
	background-color: #a9bce2;
}
ul.navi li.active {
	background-color: #da3c41;
}
ul.navi li.right {
	float: right;
}
@media screen and (max-width: 480px) {
	ul.navi li.right, ul.navi li {
		float: none;
	}
}
/*------エラーメッセージ------*/

.errorMessages{
	border-top: solid #da3c41 2px;/*上のボーダー*/
	border-bottom: solid #da3c41 2px;/*下のボーダー*/
	width: 450px;
	margin: 20px auto;
	padding: 0;
}
.errorMessages li{
	text-align:center;
	list-style-type: none;
	text-decoration: none;
}

/*------絞込み------*/
.Narrowing {
	margin:auto;
	padding:10px;
	text-align:center;
	border: 1px solid #1b2538;
	width:500px;


}
/*------メッセージ------*/
.message {
	margin:10px auto;
	padding:30px;
	border: 1px solid #1b2538;
	width: 90%;
}
.info{
	text-align:right;
}
.text{
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.title {
	text-align:center;
	border-bottom:solid 1px #1b2538;
	font-size:20px;
}
.message .category{
	font-weight: lighter;
	color: gray;
	font: small-caption;
}
.message .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}
/*------コメント------*/
.comment {
	margin:10px auto;
	padding:10px;
	border: 1px solid #1b2538;
	width: 90%;
}
.commentFormat{
	margin:10px auto;
	padding:10px;
	width: 90%;
}
/*------投稿フォーム------*/*
.form-area {
	margin-left:10px;
}

.user-form {
	margin-left:10px;
	text-align:center;
}

textarea {
	width:90%;
	height:90px;
	resize: none;
}

.copyright {
	text-align:center;
	width: 250px;
	margin: 0 auto;
}
/*------テーブル------*/
.users{
	text-align:center;
}
table{
	margin:10px auto;
}
th,td {
    border: solid 1px;  /* 枠線指定 */
    padding: 10px;      /* 余白指定 */
}

label {
	display: block;
}
